$PRIMARY: "Nunito", sans-serif;

$PRIMARY_EXTRA_LIGHT: 200;
$PRIMARY_LIGHT: 300;
$PRIMARY_REGULAR: 400;
$PRIMARY_SEMI_BOLD: 600;
$PRIMARY_BOLD: 700;
$PRIMARY_EXTRA_BOLD: 800;

$TRANSITION_SPEED: all 0.3s;
